<!DOCTYPE html>
<html lang="es-CL">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
		<title> Home </title>
		<script src="https://cdn.tailwindcss.com"></script>
	</head>
	<body>
		<header>
			<nav>

			</nav>
		</header>
		<h1> Cámara en vivo </h1>
		<p> Raspberry Pi 3 | Sistema de Streaming en Tiempo Real </p>
		<p> {{ mensaje }} </p>
		<div>

			<p> I wanna show the code </p>
		</div>

		<footer>
			
		</footer>
	

	</body>
</html>
